// colors
$red: #e45028;
$yellow: #f9b43b;
$grey: #2f3234;
$formColor: #e35028;

@function rem($px) {
  @return $px/16px + 0rem;
}

// normalize
@import "./layout/normalize";

// layout rules
@import "./layout/fonts";
@import "./layout/base";
@import "./blocks/hero";

// blocks
@import "./blocks/pointer";
@import "./blocks/header";
@import "./blocks/logo";
@import "./blocks/nav";
@import "./blocks/btn";
@import "./blocks/title";
@import "./blocks/arrow";
@import "./blocks/about-us";
@import "./blocks/features";
@import "./blocks/team";
@import "./blocks/menu";
@import "./blocks/reviews";
@import "./blocks/order";
@import "./blocks/form";
@import "./blocks/contacts";
@import "./blocks/footer";
@import "./blocks/socials";