@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic');

@font-face {
  font-family: 'Gagalin';
  src: url('../fonts/gagalin-regular-webfont.woff2') format('woff2'),
       url('../fonts/gagalin-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lifehack';
  src: url('../fonts/lifehack_medium-webfont.woff2') format('woff2'),
       url('../fonts/lifehack_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}