.about-us {
  background: url("../data/img/bg/vegetables.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-us__container {
  justify-content: center;  
}