.arrow {
  &:hover {

    .arrow-icon {
      transform: scale(1.5);
    }
  }
  
}

.arrow-icon {
  width: 1.8125rem;
  height: rem(14px);
  fill: #fff;
  transition: transform .3s;

  &--left {
    transform: rotate(90deg);
  }

  &--right {
    transform: rotate(-90deg);
  }

  @include mobiles {
    height: .9rem;
  }
}

.left-arrow__btn, .right-arrow__btn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-arrow__btn {
  &:hover {
    .arrow-icon--left {
      transform: rotate(90deg) scale(1.5);
    }
  }
}

.right-arrow__btn {
  &:hover {
    .arrow-icon--right {
      transform: rotate(-90deg) scale(1.5);
    }
  }
}