.arrow-icon {
  width: rem(29px);
  height: rem(14px);
  fill: #fff;
  transition: transform .3s;

  &:hover {
    transform: scale(1.5);
  }

  &--left {
    transform: rotate(90deg);
  }

  &--right {
    transform: rotate(-90deg);
  }

  @include mobiles {
    width: 6.8125rem;
    height: .9rem;
  }
}

.left-arrow__link, .right-arrow__link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-arrow__link {
  &:hover {
    .arrow-icon--left {
      transform: rotate(90deg) scale(1.5);
    }
  }
}

.right-arrow__link {
  &:hover {
    .arrow-icon--right {
      transform: rotate(-90deg) scale(1.5);
    }
  }
}