.btn {
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8125rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: .65rem .89rem;
  border-radius: 0.3125rem;
  color: inherit;

  @include mobiles {
    font-size: 1rem;
  }
}

.btn--submit {
  background: $red;
  transition: .3s;

  &:hover {
    background: red;
  }
}

.btn--reset {
  font-weight: 300;
  font-size: 0.875rem;
  text-transform: initial;
  margin-left: .5rem;

  @include mobiles {
    font-size: 1rem;
  }
}