.burgers {
  background: linear-gradient(to top, $yellow, #eb8c38 48%, $yellow 74%);
  color: #fff;
}

.burgers__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1017px;
}

.burgers__content {
  display: flex;
  align-items: center;
}

.burgers__item {
  display: flex;
  align-items: center;

  @include tablets {
    flex-direction: column;
    justify-content: center;
  }
}

.burgers__order-row {
  display: flex;
  align-items: baseline;
  padding-top: 5%;

  @include tablets {
    justify-content: center;
    padding-top: 0;
  }
}

.burgers__image-el {
  width: 50%;
  position: relative;
  margin-right: 2%;

  @include laptops {
    width: 67%;
  }

  @include tablets {
    width: 60%;
    height: 50%;
    margin-right: 0;
  }

  @include mini-tablets {
    width: 97%;
    margin-bottom: 2%;
  }

  @include mobiles {
    width: 91%;
  }

  @include mini-mobiles {
    width: 96%;
  }
}

.burgers__img {
  max-width: 100%;
}

.burgers__composition {
  position: absolute;
  left: 2%;
  top: -25%;
  width: rem(90px);
  height: rem(90px);
  border-radius: 5px;
  background-color: rgba($red, .4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1% 0;
  cursor: pointer;
  transition: .3s;

  &:hover {

    background-color: rgba($red, .9);

    .burgers__tooltip {
      left: 100%;
      opacity: 1;
    }
  }

  @include tablets {
    left: -11%;
    top: -10%;
  }
}

.burgers__burger-icon {
  width: 60%;
  height: 60%;
  fill: #fff;
}

.burgers__composition-text {
  font-family: "Gagalin";
  font-size: .9rem;
}

.burgers__tooltip {
  position: absolute;
  cursor: initial;
  left: -9999px;
  top: 0;
  background: rgba(#fff, .9);
  color: #2f3234;
  border-radius: 5px;
  width: auto;
  padding: 1rem;
  opacity: 0;
  transition: opacity .4s;
}

.burgers__table-col {

  padding: .3rem;
  font-size: rem(14px);

    @include tablets {
    padding: .1rem;
  }

  &--title {
    font-weight: 500;
    padding-left: 1.3rem;
  }

  &--weight {
    text-align: right;
    padding-left: 4rem;
    white-space: nowrap;
    font-weight: 300;
  }

}

.burgers__table-icon {
  width: 3rem;

  &--beef {
    fill: $red;
  }

  @include tablets {
    width: 2.5rem;
  }
}

.burgers__energy {
  position: absolute;
  left: -1%;
  bottom: -28%;
  width: rem(90px);
  height: rem(90px);
  opacity: .5;
  font-family: "Gagalin";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: .9rem;

  @include tablets {
    left: unset;
    bottom: unset;
    top: -10%;
    right: -11%;
  }
}

.burgers__energy-icon {
  width: 66%;
  height: 66%;
  fill: #fff;
}

.burgers__energy-value {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: rem(20px);
}


.burgers__text-el {
  width: 50%;

  @include tablets {
    width: 85%;
    height: 50%;
    text-align: center;
  }

  @include mobiles {
    width: 95%;
  }
}

.burgers__desc {
  font-size: rem(14px);
  font-weight: 300;
  line-height: 1.71;
}


.burgers__price {
  font-family: "Gagalin";
  font-size: rem(30px);
  color: $red;

  &--value {
    font-size: rem(72px);

    @include laptops {
      font-size: 2.5rem;
    }
  }

}