.contacts {
  background: url("../data/img/bg/map.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}

.contacts__content {
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.contacts__address {
  font-weight: 300;
}

.contacts__phone-block {
  display: flex;
  align-items: center;
}

.contacts__phone-icon {
  width: rem(12px);
  height: rem(11px);
  margin-right: .5rem;
  fill: $red;
}

.contacts__phone {
  color: $red;
  font-weight: bold;
  display: inline-block;
}