.features__list {
  display: flex;
  justify-content: space-between;
}

.features__item {
  text-align: center;
}

.features__title {
  font-family: "Lifehack";
}

.features__desc {
  font-weight: 300;
}