.features__list {
  display: flex;
  justify-content: space-between;
}

.features__item {
  text-align: center;
  flex: 1 1 17.5rem;
  margin-right: 2.1875rem;

  &:last-child {
    margin-right: 0;
  }
}

.features__icon {
  width: rem(90px);
  height: rem(90px);
}

.features__text {
  padding-top: 2rem;
}

.features__title {
  font-family: "Lifehack";
  line-height: 1.75rem;
  font-size: 1.5rem;
}

.features__desc {
  font-weight: 300;
  color: rgba(47, 50, 52, 0.8);
  line-height: 1.5rem;
  font-size: 0.875rem;
}