$icons: ("meat", "hand", "natural");

.features__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features__item {
  text-align: center;
  flex: 1 1 280px;
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }

  &:before {
    content: "";
    display: inline-block;
    background: center center no-repeat;
    width: 100px;
    height: 100px;
    margin-bottom: 35px;
  }
}

@each $icon in $icons {
  .features__item--#{$icon} {
    &:before {
      background-image: url("../data/img/icons/#{$icon}.png");
    }
  }
}

.features__title {
  font-family: "Lifehack";
  line-height: 28px;
}

.features__desc {
  font-weight: 300;
  color: rgba(47, 50, 52, 0.8);
  line-height: 24px;
}