.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../data/img/bg/footer.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: rem(10px) 0;
}

.footer__container {
  flex-direction: row;
  justify-content: space-between;

  @include mobiles {
    flex-direction: column;
    align-items: center;
  }
}

.footer__col {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;

  &--left {
    justify-content: flex-start;

    @include mobiles {
      justify-content: center;
    }
  }

  &--right {
    justify-content: flex-end;

    @include mobiles {
      justify-content: center;
      padding-bottom: 2%;
    }
  }

  @include mobiles {
    width: 100%;
    height: auto;
  }

}
