.form {
  display: inline-flex;
  width: 100%;
  padding-bottom: 2rem;

  @include tablets {
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-bottom: 0;
  }

  @include mini-tablets {
    width: 100%;
  }
}

.form__col {
  width: 50%;
  margin-right: 1.25rem;

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
    width: 100%;
  }
}

.form__row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1.25rem;

  &--radio {
    width: 67%;

    @include tablets {
      width: 80%;
    }

    @include mini-tablets {
      width: 100%;
      justify-content: center;
    }
  }

  &--btns {
    
    @include mobiles {
      display: flex;
      justify-content: center;
      margin-top: 13%;
    }

  }
 
  &:last-child {
    margin-bottom: 0;
  }

  @include tablets {

    &:last-child {
      margin-bottom: 1.25rem;
    }

  }

  @include mobiles {

    &:last-child {
      margin-bottom: 1.25rem;
    }

  }

}

.form__block {
  flex: 1;
  margin-right: 1.25rem;

  &--inline {
    display: flex;
    align-items: center;

    @include mobiles {
      justify-content: center;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &--mobile-del {

    @include mobiles {
      display: none;
    }

  }

  &--margin-del {

    @include mobiles {
      margin-right: 0;
    }

  }
}

.form__label {
  font-weight: 300;
  font-size: 0.875rem;
  margin-bottom: 0.4375rem;

  &--inline {
    margin-bottom: 0;
  }

  @include mobiles {
    font-size: 1rem;
  }
}

.form__input, .form__textarea {
  border-radius: 5px;
  border: none;
  background: #fff;
  padding: 0.5rem 1.2rem;
  width: 100%;

  @include mobiles {
    padding: .8rem 1.2rem;
  }
}

.form__textarea {
  height: 7rem;
  resize: none;

  @include mobiles {
    height: 8rem;
  }
}

.form__radio, .form__checkbox {
  display: none;
}

.form__radio {
  &:checked + &-custom:after {
    width: 7px;
    height: 7px;
  }
}

.form__radio-custom {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  background: #fff;
  display: inline-block;
  flex-shrink: 0;

  &:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    background-color: $red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: .3s;
  }
}

.form__checkbox {
  &:checked + &-custom:after {
    display: block;
  }
}

.form__checkbox-custom {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  position: relative;
  background: #fff;
  display: block;

  &:after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid $red;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}