.hamburger-menu {
  display: none;
  position: relative;
  margin-left: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  z-index: 2000;

  @include laptops {
    display: inline-block;
  }
}

.hamburger-menu__bar1, .hamburger-menu__bar2, .hamburger-menu__bar3 {
  width: 24px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: .4s;
  border-radius: 2px;
}

.close {

  .hamburger-menu__bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .hamburger-menu__bar2 {
    opacity: 0;
  }

  .hamburger-menu__bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }

}