.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

.header__col {
  display: flex;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8125rem;
  text-transform: uppercase;
  font-weight: 500;
}

.header__col--left {
  justify-content: flex-start;
}

.header__col--right {
  justify-content: flex-end;
}