.hero {
  background: linear-gradient(to bottom right, rgba(black, 1), rgba(black, .3)), url("../data/img/bg/greet-texture-1.png"), url("../data/img/bg/greet-video-bg.jpg");
  background-position: center center, center center, center center;
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
  color: white;
}

.hero__container {
  justify-content: flex-start;
  padding-top: .9%;
  padding-bottom: 3.7%;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 97%;
  margin-bottom: 3.5%;

  @include tablets {
    flex-direction: column;
  }
}

.hero__image-el {
  margin-bottom: 7%;
  margin-left: .5%;
  width: 50%;

  @include tablets {
    margin-left: 0;
    width: 64%;
  }
}

.hero__img {
  max-width: 100%;
}

.hero__title-el {
  margin-left: 1.5%;
  width: 50%;

  @include tablets {
    margin-left: 0;
    width: 85%;
    text-align: center;
  }
}

.hero__title--decorate {
  display: block;
  color: #fff;
  font-family: "Lifehack";
  font-size: 3.875rem;
  line-height: 3.687rem;
  margin-top: 3%;
}

.hero__btn {
  color: #fff;
  background: $red;
  margin-left: 1rem;
  transition: .3s;

  &:hover {
    background: red;
  }
}