.hero {
  background: url("../../../public/data/img/bg/greet-texture-1.png"), url("../../../public/data/img/bg/greet-video-bg.jpg");
  background-position: center center, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  color: white;
  width: 100vw;
  height: 100vh;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: .85;
  width: 80%;
}

.hero__title--decorate {
  font-family: "Lifehack";
  font-size: 65px;
}