.main-content__wrapper {
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  min-width: 320px;
}

.main-content {
  position: absolute;
  top: 0;
  transition: top 1s;
  will-change: top;
}