.menu {
  background: url("../data/img/bg/menu.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}

.menu__list {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  transform: rotate(-90deg);
}

.menu__label {
  color: inherit;
  font-family: "Gagalin";
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  padding-left: 2.5rem;
  font-size: 2rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__desc {
  height: 0;
  overflow: hidden;
}