$bg-images: ("meat-eaters", "vegetarian", "diet");
$xPosition: (78%, 87%, 94%);

.menu {
  background: url("../data/img/bg/menu.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}

.menu__list {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto;
  display: flex;
  max-width: 70%;
  justify-content: flex-end;
  height: 100%;

  @include mobiles {
    max-width: 100%;
  }
}

.menu__item {
  display: flex;
  align-items: stretch;
  height: 100%;

  &--active {

    .menu__label {
      color: $yellow;
    }
    .menu__desc {

      @include laptops {
        padding: 2% 2%;
      }
    }
  }
}

.menu__col {
  width: 5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;

  &:hover {
    cursor: pointer;

    .menu__label {
      color: $yellow;
    }
  }

  @include tablets {
    width: 4rem;
  }

  @include mobiles {
    width: 3rem;
  }
}

@each $img, $x in zip($bg-images, $xPosition) {
  .menu__col.menu__col--#{$img} {
      background-image: linear-gradient(rgba(black, .7), rgba(black, .7)), url("../data/img/bg/menu-items/#{$img}.jpg");
      background-position: center center, #{$x} center;
  }
}

.menu__label {
  color: inherit;
  font-family: "Gagalin";
  font-size: 2.5rem;
  transform: rotate(-90deg) translateX(74%);
  white-space: nowrap;
  transition: color .3s;

  @include mobiles {
    font-size: 1.5rem;
  }
}

.menu__desc-wrapper {
  overflow: hidden;
  width: 0;
  transition: width .3s;
}

.menu__desc {
  width: 20rem;
  height: 100%;
  padding: 2% 2%;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  opacity: 0.93;
  background: rgb(51,50,49);
  transition: width .3s;
  overflow-y: auto;

  @include mini-mobiles {
    width: 16rem;
  }
}