.popup {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: opacity .3s;
}

.overlay {
  background: rgba(51, 50, 49, .93);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.popup__container {
  display: flex;
  flex-direction: column;
  padding: rem(30px) rem(20px);
  border-radius: 5px;
  background: #fff;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup__content-title {
  font-family: "Gagalin";
  font-size: rem(14px);
  margin-bottom: 3%;
}

.popup__content-text {
  font-family: "Ubuntu";
  font-size: rem(14px);
  font-weight: 300;

  &--order {
    text-align: center;
    margin-bottom: 10%;
  }
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: rem(4px);
  right: rem(4px);
}

.popup__close:after {
  position: absolute;
  content: "+";
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%) rotate(45deg);
  color: $red;
  font-size: rem(32px);
}