.nav {
  @include tablets {
    display: none;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav__item {
  display: flex;
  align-items: center;
  
  &:after {
    content: "";
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    margin: 0 1rem;
    display: inline-block;
  }

  &:last-child {
    &:after {
      display: none;
    }
  }
}

.nav__link {

  &:hover {
    text-decoration: underline;
  }
}