.reviews__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.reviews__item {
  height: 50%;
  flex: 1 1 25%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  color: #fff;
  transition: .3s;

  &:hover {
    .reviews__content {
      opacity: 1;
    }
  }

  @include tablets {
    flex-basis: 50%;
    height: 25%;
  }

  @include mini-mobiles {
    flex-basis: 100%;
    height: 25%;

    &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
      display: none;
    }
  }
}

.reviews__content {
  background: rgba(20, 20, 20, 0.7);
  width: 100%;
  height: 100%;
  padding: 2.9rem 1.25rem;
  opacity: 0;
  transition: opacity .3s;

  @include tablets {
    text-align: center;
    padding: 1.9rem 3.25rem;
  }

  @include mini-tablets {
    padding: 10% 17%;
  }

  @include mobiles {
    padding: 2.6rem 3.25rem;
  }
}

.reviews__name {
  font-family: "Gagalin";
  font-size: 0.875rem;
  margin-bottom: 7%;

  @include tablets {
    margin-bottom: 0;
  }

  @include mobiles {
    font-size: 1.7rem;
    margin-bottom: 14%;
  }
}

.reviews__text {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;

  @include tablets {
    max-height: 60%;
    overflow: hidden;
  }

  @include mobiles {
    display: none;
  }
}

.reviews__btn {
  color: #fff;
  background: $grey;
  transition: .3s;

  &:hover {
    background: rgb(19, 19, 19);
  }

  @include mobiles {
    display: none;
  }

}

.reviews__btn-mobile {
  color: #fff;
  background: $grey;
  transition: .3s;
  display: none;
  font-size: .9rem;

  &:hover {
    background: rgb(19, 19, 19);
  }

  @include mobiles {
    display: inline-block;
  }

}