.reviews__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.reviews__item {
  height: 50%;
  flex: 1 1 25%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  color: #fff;
  transition: .3s;

  &:hover {
    .reviews__content {
      opacity: 1;
    }
  }
}

.reviews__content {
  background: rgba(20, 20, 20, 0.7);
  width: 100%;
  height: 100%;
  padding: 2.9rem 1.25rem;
  opacity: 0;
  transition: opacity .3s;
}

.reviews__name {
  font-family: "Gagalin";
  font-size: 0.875rem;
  margin-bottom: 7%;
}

.reviews__text {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
}

.reviews__btn {
  color: #fff;
  background: $grey;
  transition: .3s;

  &:hover {
    background: rgb(19, 19, 19);
  }

}