.socials__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.socials__item {
  margin-right: rem(20px);
}

.socials__link {
  display: inline-block;
   &:hover {
     .socials__icon {
       opacity: 1;
     }
   }

}

.socials__icon {
  fill: #fff;
  opacity: .3;
  width: rem(23px);
  height: rem(13px);
  transition: opacity .3s;

  &--fb, &--inst {
    width: rem(20px);
    height: rem(20px);
  }

  &--tw {
    width: rem(20px);
    height: rem(16px);
  }
}