.team {
  background: url("../data/img/bg/team.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.team__content-container {
  padding: 6rem 6.2rem;

  @include laptops {
    padding: 20% 7%;
  }

  @include tablets {
    text-align: center;
    padding-bottom: 22%;
    padding-left: 13rem;
    padding-right: 13rem;
  }

  @include mobiles {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.team__content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  opacity: 0.93;
  background: rgb(51,50,49);

  @include tablets {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


.team__list {
  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.team__item {
  color: #fff;
  margin-top: 1.4rem;

  &--active {
    .team__person-name {
      color: $yellow;

      &:before {
        transform: rotate(180deg);
      }
    }
  }

  @include tablets {
    &:first-child {
      margin-top: 0;
    }
  }
}

.team__person-name {
  font-family: 'Gagalin', sans-serif;
  color: inherit;
  display: inline-flex;
  font-size: rem(14px);
  align-items: center;
  transition: color .3s;
  margin-bottom: .7rem;

  &:hover {
    color: $yellow;
  }

  &:before {
    content: "";
    display: inline-block;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid $yellow;
    margin-right: rem(10px);
    transition: transform .3s;
  }

  @include tablets {
    display: inline-block;
    font-size: 1.5rem;
    
    &:before {
      margin-bottom: 0.3rem;
    }
  }

  @include mobiles {
    font-size: 1.8rem;
  }
}

.team__person-content-wrapper {
  overflow: hidden;
  height: 0;
  transition: height .3s;
}

.team__person-content {
  display: flex;
  padding-left: 1rem;

  @include tablets {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
}

.team__person-img {
  width: 100px;
  flex-shrink: 0;
  height: 100px;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}

.team__text-el {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-left: 1.25rem;

  @include tablets {
    margin-left: 0;
    padding-top: 1rem;
  }

  @include mobiles {
    font-size: 1rem;
  }
}

.team__person-position {
  font-weight: bold;
}

.team__person-desc {
  font-weight: 300;
}