.title {
  font-family: "Gagalin";
  font-size: 4.5rem;

  &--hero {
    color: $yellow;
  }

  &--about-us {
    margin-bottom: 2rem;
    text-align: center;
  }

  &--team {
    color: $yellow;
    margin-bottom: 2rem;
  }

  &--menu {
    display: inline-block;
    margin: 5.7rem;
  }

  &--order {
    color: $yellow;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem;
  }
}