.title {
  font-family: "Gagalin";
  font-size: 4.5rem;

  &--hero {
    color: $yellow;

    @include laptops {
      font-size: 3.5rem;
    }
  }

  &--about-us {
    margin-bottom: 2rem;
    text-align: center;

    @include mini-tablets {
      font-size: 3.5rem;
      margin-bottom: 0;
    }
  }

  &--burgers {
    line-height: 0.89;
    margin-bottom: 9%;

    @include laptops {
      font-size: 3.5rem;
    }

    @include tablets {
      margin-bottom: 3%;
    }

    @include mobiles {
      margin-top: 3%;
    }
  }

  &--team {
    color: $yellow;
    margin-bottom: 2rem;
  }

  &--menu {
    display: inline-block;
    margin: 5.7rem;

    @include laptops {
      margin: 5% 1%;
      font-size: 3.5rem;
    }
  }

  &--order {
    color: $yellow;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem;

    @include tablets {
      margin-bottom: 2%;
    }

    @include mini-tablets {
      font-size: 2.5rem;
    }

    @include mobiles {
      width: 100%;
      font-size: 2.5rem;
    }
  }

  @include mobiles {
    font-size: 3.5rem;
  }
}